{% extends "bootstrap/base.html" %}

{% block title %}This is the base title{% endblock %}

{% block styles -%}
{{ super() }}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{%- endblock %}

{% block scripts -%}
{{ super() }}
{%- endblock %}

{% block content -%}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
{%- endblock %}
